.header {
  text-align: center;
}


.categories-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  align-items: center;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
}


.circle{
  height: 360px;
  width: 360px;
  border-radius: 50%;
  margin-bottom: -150px;
  text-align: center;
}

